<%= form_with model: @instructor do |form| %>
    <form>
        <div class="field"> 
            <label> Last Name: </label>
            <%= form.text_field :last_name %> 
        </div>
        <div class="field"> 
            <label> First Name: </label>
            <%= form.text_field :first_name %>
        </div>
        <div class="field"> 
            <label> Age: </label>
            <%= form.number_field :age, in: 1...151 %> 
        </div>
        <div class="field"> 
            <label> Salary: </label>
            <%= form.number_field :salary, min: 1 %> 
        </div>
        <div class="field"> 
            <label> Highest Level of Education: </label>
            <%= form.select :education, [ 'High School', 'College', 'Masters', 'PhD' ], :prompt => 'Select One' %>
        </div>
        <div class="field"> 
            <label> Photo: </label>
            <%= form.text_field :pic %> 
        </div>
        <div class="field"> 
            <%= form.submit %> 
        </div>
    </form>
  <% end %>